/* Base styles */
body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
}

.red {
    background-color: rgb(198, 79, 79);
}

.yellow {
    background-color: yellowgreen;
}

.grey {
    background-color: grey;
}

.purple {
    background-color: rgb(167, 78, 167);
}

.flashBtn {
    background-color: black;
}

.userFlash {
    background-color: aquamarine;
}

h3 {
    font-size: 30px;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .btn {
        height: 150px;
        width: 150px;
        margin: 1.5rem;
    }

    h3 {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .btn {
        height: 120px;
        width: 120px;
        margin: 1rem;
    }

    h3 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .btn {
        height: 100px;
        width: 100px;
        margin: 0.5rem;
    }

    h3 {
        font-size: 18px;
    }
}
